:root {
  --background: #fff0eb;

  --chrome-bg: #222;
  --chrome-highlight: #444;
  --chrome-text: wheat;

  --text-color-secondary: #777;
  --text-color-primary: #000;

  --img-w: 360px;

  --font-body: "Gill Sans", "Avenir", "Avenir Next", -apple-system,
    BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  --font-display: Georgia, "Times New Roman", Times, serif;

  @media (min-width: 768px) {
    font-size: 1.1rem;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-body);
  color: var(--chrome-bg);
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;

  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: var(--background);
}

p {
  line-height: 1.5;
}

a {
  transition: 0.3s background-color;

  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

blockquote {
  margin-inline-start: 1.5rem;
  margin-inline-end: 0;

  & + & {
    margin-block-start: 1.5rem;
  }
}

.container {
  max-width: 37.5rem;
  margin: auto;
}

h1,
h2,
h3,
h4,
.title {
  font-family: var(--font-display);
  font-size: var(--size, 1);
  font-weight: 200;
  font-style: normal;
  font-variant: small-caps;
  text-transform: uppercase;
  letter-spacing: var(--spacing);

  & > span {
    font-size: 0.7em;
    font-variant: normal;
    font-style: italic;
    font-weight: inherit;
    text-transform: lowercase;
    letter-spacing: initial;

    &.block {
      display: block;
    }
  }
}

h1 {
  --spacing: 0.2rem;
  --size: 1.6rem;

  text-align: center;
  text-transform: initial;
}

h2 {
  --spacing: 0.16rem;
  --size: 1.4rem;
}

h3 {
  --spacing: 0.1rem;
  --size: 1.2rem;

  margin-bottom: 0.75rem;
}

.icon {
  transition: fill 0.3s;

  max-width: 100%;
  max-height: 100%;

  fill: transparent;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.spritesheet {
  display: none;
}

.chrome {
  background: var(--chrome-bg);
  color: var(--chrome-text);
}

.ravoon {
  display: inline;
  font-weight: normal;
  font-variant: small-caps;

  & > span {
    text-transform: capitalize;
  }
}

.header__nav {
  text-align: center;

  @media (min-width: 640px) {
    display: flex;
    justify-content: space-between;
    align-items: center;

    text-align: start;
  }
}

/* Header Logo (style as h2) */
.header__title {
  --spacing: 0.3rem;
  --size: 1.2rem;

  display: block;
  margin: 0;
  padding: 0.5rem 1rem;
  line-height: 1;

  @media (min-width: 640px) {
    padding: 0;
  }
}

.header__links {
  display: flex;
  justify-content: space-between;

  padding: 0;
  list-style: none;
}

.header__link {
  flex: 1;

  padding: 1em;

  &:hover,
  &[data-current="current item"] {
    text-decoration: none;
    background-color: var(--chrome-highlight);
  }
}

.main {
  padding: 1rem;

  & p {
    margin: 0;
  }

  & * + p {
    margin-top: 1rem;
  }

  & p a {
    text-decoration: underline;

    &:hover {
      background-color: khaki;
      text-decoration: none;
    }
  }

  & p img {
    display: block;
    margin: auto;
  }

  @media (min-width: 768px) {
    padding: 1rem 0;
  }
}

.main__inner {
  margin-top: 1rem;

  @media (min-width: 768px) {
    margin: 0;
  }
}

.footer {
  padding: 1em;
  font-size: smaller;
  text-align: center;
}

.logo {
  padding: 2vh;
  text-align: center;

  & svg {
    max-width: 250px;
  }

  & .bg {
    fill: var(--chrome-text);
  }

  & .letter {
    fill: var(--chrome-bg);
  }
}

.hero {
  margin: 0;

  @media (min-width: 768px) {
    max-width: 40%;
    float: left;
    margin: 0 1rem 0.5rem 0;
  }

  & > img {
    width: 100%;
    object-fit: cover;
  }

  & > figcaption {
    margin: 0;
    padding: 0.5rem;
    font-size: smaller;
    line-height: 1.4rem;
  }
}

/* Posts List */
.sighting {
  padding: 1rem 0;

  & + & {
    border-top: 1px dotted var(--chrome-bg);
  }
}

.sighting__title {
  small {
    white-space: nowrap;
    color: var(--text-color-secondary);
  }
}

.sighting__title__link {
  &:hover,
  &:focus {
    outline: none;
    text-decoration: underline;
  }
}

.tags {
  display: flex;
  flex-wrap: wrap;

  margin-top: 0.5rem;

  [data-current="post"] & {
    margin: 2rem 0;
    border-top: 1px dotted currentColor;
  }
}

.tag {
  margin: 0.5rem 0.5rem 0 0;
  border: 1px solid var(--chrome-highlight);
  border-radius: 3px;
  padding: 0.125rem 0.25rem;
  background-color: var(--chrome-highlight);
  color: var(--chrome-text);

  &:hover,
  &:focus {
    outline: none;
    background-color: var(--background);
    color: var(--chrome-bg);
  }
}

.audio {
  max-width: 400px;
  margin-top: 1rem;
  padding: 0.25rem;
  background: #000;

  @media (min-width: 640px) {
    max-width: 300px;
    // margin-inline: auto; <-- insufficient support as of 2020-07-25
    margin-left: auto;
    margin-right: auto;
  }
}

.audio__img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
  object-fit: contain;
}

.audio__media {
  display: none;

  &[controls] {
    display: block;
    width: 100%;
    margin-top: 0.5rem;
    filter: saturate(70%) grayscale(1) contrast(100%) invert(12.5%);
    outline: none;

    &:focus {
      filter: invert(100%);
    }
  }
}

/* Contact Form */
form {
  display: grid;
  gap: 0.5rem;

  padding: 2em 0;
}

input,
textarea,
button {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  font-family: inherit;
}

input,
textarea {
  border: 1px solid black;
}
