---
layout: layouts/base.njk
section: post
---

<article class="sighting">
  <h1 class="sighting__title">
    {{ title }} 
    <span>by</span>
    <small>{{ author }}</small>
  </h1>

  {{ layoutContent | safe }}

  {% if tags %}
    <div class="tags">
    {% for tag in tags | sort() %}
      {%- if tag != "post" -%}
        {% set tagUrl %}/tags/{{ tag }}/{% endset %}
        <a class="tag" href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a>
      {%- endif -%}
    {% endfor %}
    </div>
  {% endif %}

</article>

<nav class="item__nav">
  <a href="{{ '/sightings/' | url }}">← All Sightings</a>
</nav>
