<section class="sightings">
	{% for post in postslist %}
		<article class="sighting" {% if post.url == url %} data-current="current item"{% endif %}>
			<h3>
				<a href="{{ post.url | url }}">{{ post.data.title }}</a> 
				<span>by</span> 
				<a href="/authors/{{ post.data.author | slug }}/">{{ post.data.author }}</a>
			</h3>
			{% if post.data.summary %}
				<p>
					{{ post.data.summary }}
				</p>
			{% endif %}
			{% if post.data.tags %}
				<div class="tags">
					{% for tag in post.data.tags %}
		  			{%- if tag != "post" -%}
		  				{% set tagUrl %}/tags/{{ tag }}/{% endset %}
		  				<a class="tag" href="{{ tagUrl | url }}">{{ tag }}</a>
		  			{%- endif -%}
					{% endfor %}
				</div>
			{% endif %}
		</article>
	{% endfor %}
</section>
