---
title: Musical interpretations
summary: Not so much sightings as hearings
author: Various
date: 1976-01-01
tags:
---

<div class="audio">
  <img class="audio__img" src="/static/img/harry-tuft.jpg" alt="Harry Tuft's portrait on the cover of Across The Blue Mountains" />
  <div class="audio__desc">
    <p>Curiously, many imagine MRS RAVOON to have originated in traditional song: the American folk singer Harry Tuft set "an Old English Rhyme" to music on his 1976 album <i>Across The Blue Mountains</i>, of which a fragment can be heard below:</p>
    <audio class="audio__media" src="/static/mp3/harry_tuft-mrs_ravoon.mp3" controls></audio>
  </div>
</div>

<div class="audio">
  <img class="audio__img" src="/static/img/kendall-morse.png" alt="Kendall Morse" />
  <div class="audio__desc">
    <p>Fortunately, erstwhile sea captain Kendall Morse covered Tuft's interpretation verbatim, including the chorus he had introduced. I include it here as a complete rendition.</p>
    <audio class="audio__media" src="/static/mp3/kendall_morse-mrs_ravoon.mp3" controls></audio>
  </div>
</div>