---
layout: layouts/base.njk
section: about
---

<figure class="hero chrome">
  <img src="/static/img/the-bear-cropped.png" alt="The author" />
  <figcaption>Paul Dehn, pictured with the composer William Walton, at a rehearsal for the opening performance of <em>The Bear</em> at the Aldeburgh Festival in June 1967</figcaption>
</figure>
<div class="main__inner">
{{ layoutContent | safe }}
</div>