<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body>

		<header class="header chrome">
			{% include "components/header.njk" %}
		</header>

		<main class="main container">
			{{ layoutContent | safe }}
		</main>

		{% include "components/footer.njk" %}

	</body>

	<script type="module" src="/lib/main.js"></script>
	<script>
		var audioEls = document.getElementsByTagName("audio");
		for (var el of audioEls) {
			el.setAttribute("controls", "true");
		}
	</script>
</html>
